/* Reset Css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

button {
  cursor: pointer;
}
/* ROOT */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

/* ICONS */
/* Icon Set Features */
.feature-icon {
  fill: var(--cloud);
}
/* Icon Set Social */
.social-icon {
  fill: var(--ocean);
}
.icon-box-features {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  max-width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
.our-team-social-icons-set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.our-team-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  gap: 24px;
  border-radius: 50%;
  background-color: var(--iris);
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  background-color: #404bbf;
}
.link:focus {
  background-color: var(--ocean);
}

/* Body */
body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}
/* Helper Class */
.container {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.logo-section {
  font-family: var(--second-family);
  color: var(--navy-blue);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
}
.studio-link {
  position: relative;
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.header-list-item:hover {
  color: var(--ocean);
}
.header-list-item:focus {
  color: var(--ocean);
}
.contact {
  font-style: normal;
}
.contact-list {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item:hover {
  color: var(--ocean);
}
.contact-item:focus {
  color: var(--ocean);
}
/* Main */
/* Section 1 - Solution */
.section-solution {
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid #000000;
}

.section-solution-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 188px 0;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto;
}
.order-button {
  cursor: pointer;
  background-color: var(--iris);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover {
  background-color: var(--ocean);
}
.order-button:focus {
  background-color: var(--ocean);
}
/* Section 2 - Features */
.section-features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.features-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* Section 2 - Our-Team */

.our-team {
  background-color: var(--cloud);
  padding: 120px 0;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-list-item {
  background-color: var(--white);
  max-width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
.our-team-name-title {
  margin: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}
.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}
.our-team-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}
/* Section 4 - Our-Portfolio */
.our-portfolio-section {
  padding: 120px 0;
}
.our-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-list-item {
  max-width: calc((100% - 48px) / 3);
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-image {
  position: relative;
  overflow: hidden;
}

.our-portfolio-effect-text {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list-item:hover .our-portfolio-effect-text {
  transform: translateY(0%);
}
.our-portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-portfolio-name-category {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
  width: 360px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.our-portfolio-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.our-portfolio-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* Footer */
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.footer-logo > span {
  font-family: var(--second-family);
  color: var(--cloud);
}

.site-footer {
  background-color: var(--navy-blue);
  color: #2e2f42;
  padding: 100px 0;
}
.site-footer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
.footer-helper {
  display: flex;
  align-items: baseline;
  gap: 80px;
}

.footer-text-logo {
  /* margin-right: 40px; */
}
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* margin-left: 40px; */
}
.footer-icon {
  display: flex;
  gap: 16px;
}
.link-footer:hover {
  background-color: var(--green);
}
.link-footer:focus {
  background-color: var(--green);
}

.footer-social-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}
.form {
  display: flex;
  gap: 24px;
}
.subscrice-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}
.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}
.subscribe-button-icon {
  margin-left: 16px;
}
/* Modal Window */
.modal-window .is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover {
  background-color: var(--ocean);
  border: none;
}
.modal-close-button:focus {
  background-color: var(--ocean);
  border: none;
}
.close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--white);
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}
.form-container {
  margin-bottom: 16px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:hover,
.input:focus {
  border-color: var(--iris);
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--iris);
}

.input:hover ~ .modal-icon,
.input:focus ~ .modal-icon {
  fill: var(--iris);
}
.form-comment {
  margin-bottom: 16px;
}
.form-comment-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment-textarea:hover,
.form-comment-textarea:focus {
  border-color: var(--iris);
}
.form-check {
  margin-bottom: 24px;
}
.form-check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  cursor: pointer;
}

.check-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  background-color: var(--ocean);
}

.form-check-input:checked + .form-check-label > .check-box {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.form-check-link {
  color: var(--iris);
  text-decoration: underline;
}

.form-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  background-color: var(--iris);
  color: var(--white);
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  margin: 0 auto;
  line-height: 1.5;
  border: none;
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: var(--ocean);
}
/* Modal With Javascript */
.is-open {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.is-close {
  display: none;
}
/* Media Querry */
/* Bugfix for 1024px */
@media screen and (max-width: 1164px) {
  .footer-helper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 16px 16px 0 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--slate);
  }
  .section-features {
    padding: 96px 0;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-list-item {
    width: calc((100% - 24px) / 2);
    display: flex;
  }
  .icon-box-features {
    display: none;
  }
  .features {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
  .features-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
  }
  .our-team {
    padding: 96px 0;
  }
  .our-team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .our-team-list-item {
    max-width: calc((100% - 192px) / 2);
  }
  .our-team-name-title {
    padding: 0;
  }
  .our-portfolio-section {
    padding: 96px 0;
  }
  .our-portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
  .our-portfolio-list-item {
    max-width: calc((100% - 56px) / 2);
  }
  .our-portfolio-name-category {
    gap: 8px;
  }
  .our-portfolio-title {
    font-weight: 700;
  }
  .our-portfolio-text {
    font-weight: 700;
  }
  /* Footer */
  .footer-helper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .header-list {
    display: none;
  }
  .contact {
    display: none;
  }

  .form {
    flex-wrap: wrap;
  }
  .header-container {
    width: 100%;
    height: 56px;
  }
  .main-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin: 52px 72px;
  }
  .section-solution {
    width: 320px;
    height: 432px;
  }
  .section-solution-container {
    gap: 20px;
  }
  .features-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .features-list-item {
    width: 100%;
  }
  .features {
    text-align: center;
  }
  .our-team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
  }
  .our-team-list-item {
    max-width: 100%;
    height: 428px;
  }
  .our-portfolio-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
  }
  .our-portfolio-list-item {
    max-width: 100%;
    height: 400px;
  }
  .our-portfolio-title {
    font-weight: 500;
  }
  .our-portfolio-text {
    font-weight: 400;
  }
  .footer-text-logo {
    display: flex;
    flex-direction: column;
  }
  .footer-logo {
    align-self: center;
    margin-right: 0;
  }
  .footer-helper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-social-title {
    align-self: center;
    margin: 0;
  }
  .form-container {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
